<div>
    <a href="/feed" class="btn-lg bl-border">Feed</a>    
    <a href="/play" class="btn-lg bl-border">Play</a>    
    <a href="/work" class="btn-lg bl-border">Work</a>    
    <a href="/sleep" class="btn-lg bl-border">Sleep</a>    
</div>